.song_{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    overflow: auto;
}
.track_{
    display: flex;
    padding: 20px;
    align-items: center;
}
.track_info{
    max-width: 200px;
    margin-left: 15px;
    margin-right: 15px;
}
.inactivate{
    background-image: url('../../public/img/incativate.png');
    background-size: cover;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    border-radius: 5px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.state_{
    margin-top: 5px;
    font-size: xx-small;
}
.duration{
    border-radius: 20px;
    font-size: small;
    max-width: 50px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 15px;
    padding: 7px;
}
.duration_{
    display: flex;
    flex-direction: row;
    align-items: center;
}