.report{
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}   
.reportbutton{
    font-size: xx-large;
    background-color: transparent;
    border-color: transparent;
    color: white;
}
@media (min-width: 450px){
    .report{
        height: 250px;
    }
}
@media (min-width: 900px){
    .report{
        height: 500px;
    }
}