.configuration{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}
.configuration_section{
    font-size: 15px;
}
.configuration_{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.done_{
    margin-left: 50px;
    margin-right: 50px;
}