.mongo-report{
    background-color: white;
    overflow: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.title{
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 0px;
    font-size: 50px;
}