.searchElements{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 45px;
    width: 100%;
    margin-bottom: 170px;
}
.result_title{
    font-size: x-large;
    margin-left: 25px;
}
.result_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.return{
    margin-right: 5px;
    margin-left: 5px;
    background-image: url('../../public/img/return.png');
    background-color: transparent;
    border-color: transparent;
    width: 35px;
    height: 40px;
    background-size: cover;
    margin-left: 25px;
}