.artist{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    overflow: auto;
    flex-direction: row;
    background-color: 'white';
}
.artist_{
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
}
.text{
    color: 'white';
    background-color: 'white'; 
}
.artistinfo{
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
}
.delete{
    background-image: url('../../public/img/trash.png');
    background-size: cover;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    border-radius: 5px;
}
.playlists_{
    display: flex;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 250px;
    align-items: center;
    padding: 55px;
}
.edit{
    background-image: url('../../public/img/edit.png');
    background-size: cover;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    border-radius: 5px;
}
.save{
    background-image: url('../../public/img/save.png');
    background-size: cover;
    height: 27px;
    width: 27px;
    margin-right: 5px;
    border-radius: 5px;
}
.artistitle{
    margin-bottom: 10px;
}
.input_{
    border-radius: 20px;
    font-size: small;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 7px;
}
