.playlist{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.playlistInfo{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlePlaylist{
    background-color: transparent;
    color: black;
    font-size: medium;
}
.playlistImage{
    margin-top: 5px;
    width: 200px;
    height: 200px;
}
.artistPlaylist{
    color: black;
    font-size: x-small;
}
.containerPlay{
    min-height: 500px;
    align-items: flex-start;
    justify-content: center;
    background-color:white;
    border-radius: 40px;
    border-color: black;
    border-style: double;
    padding: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-right: 35px;
    margin-left: 35px;
}