.footerCont{
    align-items: baseline;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.myText{
    padding: 5px;
}
.footer{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: xx-small;
    justify-content: space-between;
    overflow: auto;
    padding: 10px 20px 10px 20px;
    width: 100%;
}
.authorContainer{
    align-items: center;
    display: flex;
    font-size: xx-small;
    justify-content: center;
}
.authors{
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    margin-right: 35px;
}
.selectedTrack{
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    font-size: xx-small;
    justify-content: space-between;
    overflow: auto;
    padding: 20px;
    width: 100%;
}
.info{
    min-width: 100px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
}
.footer_img{
    width: 100px;
    height: 100px;
}
.selectedTrackNull{
    background-color: black;
}