.footerCont{
    align-items: baseline;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.myText{
    padding: 5px;
}
.footer{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: xx-small;
    justify-content: space-between;
    overflow: auto;
    padding: 10px 20px 10px 20px;
    width: 100%;
}
.authorContainer{
    align-items: center;
    display: flex;
    font-size: xx-small;
    justify-content: center;
}
.authors{
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    margin-right: 35px;
}
.selectedTrack{
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    font-size: xx-small;
    justify-content: space-between;
    overflow: auto;
    padding: 20px;
    width: 100%;
}
.song_and_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info{
    min-width: 100px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
}
.footer_img{
    width: 100px;
    height: 100px;
}
.selectedTrackNull{
    background-color: black;
}
.link{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-image: url('../../public/img/spotify.png');
    width: 65px;
    background-size: cover;
    height: 25px;
}
.link_{
    margin-right: 5px;
    margin-bottom: 5px;
    background-image: url('../../public/img/spotify.png');
    width: 65px;
    background-size: cover;
    height: 25px;
}
.link__{
    margin-right: 5px;
    margin-bottom: 10px;
    background-image: url('../../public/img/cart.png');
    border-radius: 50px;
    width: 55px;
    height: 55px;
    background-size: cover;
}
.link____{
    margin-right: 5px;
    margin-bottom: 10px;
    background-image: url('../../public/img/cartRemove.png');
    border-radius: 50px;
    width: 55px;
    height: 55px;
    background-size: cover;
}
.play_{
    margin-right: 5px;
    margin-bottom: 10px;
    background-image: url('../../public/img/default.png');
    border-radius: 50px;
    width: 45px;
    height: 44px;
    background-size: cover;
}
.state{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__{
    size: 15px;
}