.track{
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
}
.trackname{
    color: white;
    font-size: x-small;
}
.play{
    background-image: url('./default.png');
    background-size: cover;
    height: 20px;
    margin-right: 5px;
    border-radius: 10px;
}