.header{
    align-items: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}
.tittle{
    color: black    ;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-left: 15px;
    margin-right: 5px;
}
.empty{
    background-color: black;
    height: 2px;
    width: 100%;
}
.bar{
    background-color: white;
    height: 2px;
    width: 100%;
}
.buttons{
    margin-bottom: 10px;
    margin-left: 10px;
}
.button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    color: black;
    font-size: small;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 7px;
}
.headerContainer{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
@media (max-width: 710px){
    .header{
        justify-content: center;
    }
    .headerContainer{
        justify-content: center;
    }
}
@media (max-width: 760px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
}