.userPermission{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-top: 25px;
    margin-bottom: 17px;
    padding: 10px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
}