.album{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    border-color: black;
    border-style: double;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
.album_{
    display: flex;
    padding: 20px;
    align-items: center;
}
.albumtitle{
    margin-bottom: 10px;
}
.albuminfo{
    margin-left: 25px;
}
.select{
    max-width: 200px;
    padding: 5px 10px 5px 10px;
    font-size: small;
    margin-top: 15px;
    border-radius: 50px;
    margin-left: 10px;
}