.check_button{
    background-image: url('./check.png');
    background-size: cover;
    height: 25px;
    margin-top: 17px;
    border-radius: 100px;
}
.cross_button{
    background-image: url('./cross.png');
    background-size: cover;
    height: 20px;
    border-radius: 50px;
}
.invalid_button{
    background-image: url('./invalid.png');
    background-size: cover;
    height: 20px;
    border-radius: 50px;
}