.search{
    margin-bottom: 10px;
    margin-right: 15px;
}
.query{
    border-radius: 20px;
    min-width: 350px;
    padding: 7px;
}
@media (max-width: 700px){
    .query{
        justify-content: center;
        min-width: 70px;
    }
}