.playlists{
    display: flex;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 15px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 250px;
}